<h1>  <%= @burger.name %></h1>
<p id="notice"><%= notice %></p>


 <p>
  <b><%= @burger.name %>'s ingredients:</b>
  <ul>
  <% @burger.ingredients.each do |ingredient| %>
    <li><%= link_to ingredient.name, ingredient_path(ingredient) %>, which is a <%= ingredient.color %> ingredient.</li>
  <% end %> 
  </ul>
  
</p>

  <b>Creator:</b>
  <%= link_to @burger.user.username, user_path(@burger.user) %>
</p>


<%= link_to 'Edit', edit_burger_path(@burger) %> |
<%= link_to 'Back', burgers_path %>
